doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error
        link(rel="stylesheet", href="/./css/common.css")
        link(rel="stylesheet", href="/./css/style.css")
    body 
        .error-page
            .error-box
                .logo the mehers
                .image-box 
                    img(src="/./image/404.png", alt="")
                a.btn(href="/") go to home 