
footer.footer 
    .footer-container
        .footer-box(style="flex:2 1 300px")
            h2 About Hotel 
            p Welcome to the best five-star deluxe hotel in New York. Hotel e lementum sesue the aucan vestibulum aliquam justo in sapien rutrum volutpat.
        .footer-box 
            h2 Explore
            ul.example 
                li 
                    a(href="#") Home
                li 
                    a(href="#") About
                li 
                    a(href="#") Rooms & Suites
                li 
                    a(href="#") Resturent
                li 
                    a(href="#") Service
                li 
                    a(href="#") Contact
        .footer-box 
            h2 Contact
            p Biju Patnayak Chhok,Sonepur 767017 Odisha, India
            .call 
                span.material-symbols-outlined phone_in_talk 
                .call-num 732889428
            a.roop-email(href="#") info@roopresidency.com
.copywrite © Copyright 2023 by Debashish Meher