extend base

block content
    .page-heading.events-page-heading
        h3.page-name about us 
        .page-links 
            a(href="/") home |
            a(href="#") about
    .about-container 
        section.introduction 
            .intro-left 
                img.intro-img(src="/./image/demo-bulding.jpg", alt="")
                .img-shadow
                .intro-logo.align-center
                    img(src="/./image/logo.png", alt="")
            .intro-right
                h2.heading-h1 introduction 
                p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus exercitationem architecto atque, deserunt assumenda repellat dolorem fuga eaque repellendus quaerat optio doloremque laborum delectus maxime dignissimos unde incidunt asperiores illo vel, fugit est nesciunt. Dicta expedita fugit nobis, deleniti iste aliquam necessitatibus aut impedit perferendis dolores perspiciatis et ipsum.
                p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus exercitationem architecto atque, deserunt assumenda repellat dolorem fuga eaque repellendus quaerat optio doloremque laborum delectus maxime dignissimos unde incidunt asperiores illo vel, fugit est nesciunt. Dicta expedita fugit nobis, deleniti iste aliquam necessitatibus aut impedit perferendis dolores perspiciatis et ipsum.
                p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus exercitationem architecto atque, deserunt assumenda repellat dolorem fuga eaque repellendus quaerat optio doloremque laborum delectus maxime dignissimos unde incidunt asperiores illo vel, fugit est nesciunt. Dicta expedita fugit nobis, deleniti iste aliquam necessitatibus aut impedit perferendis dolores perspiciatis et ipsum.
        section.mission 
            .mission-box 
                h2.heading-h1 mission
                p.para.mission-para Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa placeat consequuntur corrupti asperiores, sunt quisquam. Quidem voluptatem ipsam laborum cupiditate iste aliquid corporis quos in esse labore velit debitis, numquam placeat nobis cumque, officiis est. Veritatis nulla, doloremque quod, repellendus id possimus dicta libero, in laudantium rerum ipsam asperiores laboriosam!