extend admin 

block admincontent
    .order-box 
        .order-details 
            .user-info 
                img.user-image(src="/./image/logo.png", alt="")
                .user-mane 
                    p.name debashish meher 
                    p.email demo@gmail.com
                    p.addrerss address, address, address, 678567, 8796785678
            .user-payments 
                table 
                    tr 
                        th payment id: 
                        td 67895678567856
                    tr 
                        th order id: 
                        td 67895678567856
                    tr 
                        th amount: 
                        td 200/-
                    tr 
                        th status: 
                        td verified
        .order-products 
            .order-product-box 
                .product-info 
                    img.user-image(src="/./image/logo.png", alt="")
                    .additional
                        p.product-name product 1
                        p.produc-code DEV1 
                p.product-qun 1 pcs
                p.total-price 100/-
            .order-product-box 
                .product-info 
                    img.user-image(src="/./image/logo.png", alt="")
                    .additional
                        p.product-name product 1
                        p.produc-code DEV1 
                p.product-qun 1 pcs
                p.total-price 100/-
            .order-total
                p.total total price
                p.total-num 200/-
