extend base 

block content 
    .success-order 
        .success-info 
            p.order-items=`orderitem is ${order.product.length}`
            p.success-status=order.status
            p.success-status=userpayment.paymentId
            p.success-status=userpayment.amount
