extends base

block content 
    .room-container 
        .room-home-img
            .btn-updown 
                a(href="#room-info").material-symbols-outlined.updown-icon south
        .room-info-container#room-info 
            span.heighlite luxury hotel
            h1.heading-h1 Junior Suite
            .room-info-main 
                .room-left-info
                    p Hotel non lorem ac erat suscipit bibendum nulla facilisi. Sedeuter nunc volutpat miss sapien vel conseyen turpeutionyer masin libero sevenion vusetion viventa augue sit amet hendrerit vestibulum. Duisteyerion venenatis lacus gravida eros ut turpis interdum ornare.
                    p Interdum et malesu they adamale fames ac anteipsu pimsine faucibus curabitur arcu site feugiat in tortor in, volutpat sollicitudin libero. Hotel non lorem acer suscipit bibendum vulla facilisi nedeuter nunc volutpa mollis sapien velet conseyer turpeutionyer masin libero sempe mollis.

                    .checkin-checkout 
                        .checkin 
                            h2 Check-in
                            p 
                                span.material-symbols-outlined.tick-icon done
                                span Check-in from 9:00 AM - anytime
                            p 
                                span.material-symbols-outlined.tick-icon done
                                span Early check-in subject to availability
                        .checkin 
                            h2 Check-out
                            p 
                                span.material-symbols-outlined.tick-icon done
                                span Check-out before noon
                            p 
                                span.material-symbols-outlined.tick-icon done
                                span Express check-out
                    .room-special-info 
                        h2 Special check-in instructions
                        p Guests will receive an email 5 days before arrival with check-in instructions; front desk staff will greet guests on arrival For more details, please contact the property using the information on the booking confirmation.
                    .room-special-info 
                        h2 Children and extra beds
                        p Children are welcome Kids stay free! Children stay free when using existing bedding; children may not be eligible for complimentary breakfast Rollaway/extra beds are available for $ 10 per day.
                    button.btn.room-booking-btn book now
                .room-right-info
                    h2 Amenities
                    ul 
                        li 
                            span.material-symbols-outlined.tick-icon groups
                            span  1-2 Persons
                        li 
                            span.material-symbols-outlined.tick-icon wifi
                            span  Free Wifi
                        li 
                            span.material-symbols-outlined.tick-icon lunch_dining
                            span  Breakfast
                        li 
                            span.material-symbols-outlined.tick-icon dry_cleaning
                            span  Towals
                        li 
                            span.material-symbols-outlined.tick-icon pool
                            span  Swimming Pool


        .room-section#room-section 
            span.heighlite luxury hotel 
            h1.heading-h1 Rooms & Suites 
            .room-parent 
                .room.room1 
                    .room-info 
                        p $49/night 
                        h2 Junior suite 
                        hr
                        .room-facilities 
                            .facilities-icons 
                                span.material-symbols-outlined mode_fan
                                span.material-symbols-outlined router
                                span.material-symbols-outlined restaurant
                            a(href="#") details
                .room.room2 
                    .room-info 
                        p $49/night 
                        h2 Junior suite 
                        hr
                        .room-facilities 
                            .facilities-icons 
                                span.material-symbols-outlined mode_fan
                                span.material-symbols-outlined router
                                span.material-symbols-outlined restaurant
                            a(href="#") details
                .room.room3 
                    .room-info 
                        p $49/night 
                        h2 Junior suite 
                        hr
                        .room-facilities 
                            .facilities-icons 
                                span.material-symbols-outlined mode_fan
                                span.material-symbols-outlined router
                                span.material-symbols-outlined restaurant
                            a(href="#") details
