.admin-container{
    display: flex;
    align-items: stretch;
    position: relative;
}
.side-container{
    position: sticky;
    top: calc(10vh + 1rem);
}
.admin-side{
    background-color: rgb(229, 229, 229);
    padding: 1rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-toggle{
    position: sticky;
    cursor: pointer;
    padding-left: 10px;
}

.admin-nav-list li a{
    display: flex;
    font-size: 1rem;
    padding: 10px;
    /* gap: 1rem; */
    font-weight: 600;
    text-transform: uppercase;
}
.side-name {
    transform: translateX(26px);
    overflow: hidden;
    width: 0;
    transition: 0.5s;
}
.side-active{
    margin-left: 1rem;
    transform: translateX(0px);
    width: 100%;
}

.admin-main {
    /* background-color: rgb(18, 117, 204); */
    width: 100%;
    min-height: 90vh;
    margin: 10px;
    border-radius: 10px;
}
.admin-btn{
    padding:  10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(84, 84, 255);
    border: 2px solid rgb(81, 81, 254);
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 5px rgba(54, 54, 54, 0.555);
    cursor: pointer;
    text-align: center;
}
.product-table {
    margin: 10px;
    border-radius: 10px;
    overflow-x: auto;
}


/* admin product page----------------- */
.search-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 1rem;
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
}
.input-box{
    label{
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(31, 31, 31);
    }
    input{
        padding: 5px 10px;
        border: 2px solid rgba(79, 79, 79, 0.532);
        background-color: transparent;
        border-radius: 5px;
        min-width: 200px;
    }
}
@media screen and (max-width:650px){
    .input-box input{
        width: 100%;
    }
    .admin-btn{
        flex: 1;
    }
}

/* admin enquary------------------------- */
.enquary-info {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    flex-wrap: wrap;
    /* background-color: blue; */
}
.info-box{
    flex: 1 1 250px;
    border: 2px solid white;
    background-color: rgb(210, 210, 210);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-num{
    font-size: 2.5rem;
    font-weight: 600;
}
.enquary-main {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.left-enquary-main{
    flex:  3 1 500px;

}
.right-enquary-main{
    flex:  1 1 150px;
    /* background-color: blue; */
    .info-box {
        margin: 10px;
    }
}

/* enquary manage page--------------------- */
.enq-mng-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.enq-info-box{
    /* background-color: aqua; */
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.enq-info{
    max-width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid white;
}
.enq-name{
    text-transform: capitalize;
}
.enq-phone{
    font-size: 1.2rem;
    font-weight: 600;
}
.enq-email{
    font-weight: 600;
    color: #464646;
}
.date{
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: 600;
}
.enq-type{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
}
.enq-action{
    width: 100%;
    max-width: 300px;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
   
}
.enq-action .admin-btn{
    flex: 1;
}
.schedule-box{
    flex: 4 1 500px;
    background-color: rgb(226, 226, 226);
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}
.schedule-head{
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: rgb(255, 0, 221);
}
.schedule-list {
    padding: 10px;
    max-height: 80vh;
}
.schedule-list li{
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(rgb(0, 157, 255),rgb(58, 58, 255));
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    color: rgb(230, 229, 229);
    font-weight: 600;
}


/* admin blogs----------------------- */
.admin-blog-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 1rem;
}

.index{
    font-weight: 600;
    font-size: 1.2rem;
}
.title{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}
.date{
    font-size: 0.8rem;
    color: rgb(54, 54, 54);
}
.blog-image{
    width: 100%;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.sell-box {
    .admin-btn{
        width: 100%;
    }
}
/* admin order page */


.order-box{
    background-color:aliceblue;
    padding: 1rem;
    border-radius: 10px;
}
.order-details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(67, 67, 67);
}
.user-info{
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.user-image{
    max-width: 100px;
}
.name{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 2rem;
}
.order-products {
    /* background-color: blue; */
    padding: 1rem 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.order-product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
}
.product-info{
    display: flex;
    gap: 10px;
}
.order-total{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}