@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  height: 5px;

}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--theme-color);
  border-radius: 1rem;
  /* border: 2px solid rgb(67, 67, 67); */
}
:root {
    --theme-color: rgb(220, 63, 63);
    --font-family: "Lato", sans-serif;
}

body {
    font-family: var(--font-family);
}
.comming{
  height: 100vh;
  background-color: rgb(26, 26, 26);
  display: grid;
  /* align-items: center; */
  place-items: center;
}
.soon{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 1rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(201, 201, 201);
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-heading{
  font-size: 2rem;
  margin: 10px 10%;
}

.mainheader {
  position: relative;
  width: 100%;
}
.main-heading{
    padding: 10px 10%;
    text-transform: capitalize;
}
.btn {
  border: 2px solid white;
  color: white;
    background-color: var(--theme-color);
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1rem;

}
.btn2 {
  border: 2px solid white;
  color: white;
    background-color: var(--theme-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1rem;

}

ul {
    list-style-type: none;
}

a {
  margin-top: 10px;
    text-decoration: none;
    color: rgb(38, 38, 38);
    display: inline-block;
}

h3 {
    text-transform: uppercase;
    font-size: 2rem;
}

.form{
  background-color: rgb(151, 151, 255);
    display: flex;
}


.alert {
    position: fixed;
    text-align: center;
    z-index: 999999;
    left: 50%;
    transform: translate(-50%);
    top: calc((10vh + 1rem));
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    letter-spacing: 1px;
    font-weight: 600;
    animation: alertAnim 0.5s 1 linear;
  }

  @keyframes alertAnim {
    0% {
      transform: translate(-50%, -1rem);
      opacity: 0;
    }
  
    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  
  .alert-success {
    background-color: rgb(55, 170, 55);
    color: white;
  }
  
  .alert-err {
    background-color: rgb(170, 55, 55);
    color: white;
  }
  
  .sub-header{
    background-color: rgb(202, 202, 202);
    padding: 0 5%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-arrow{
    cursor: pointer;
}
.sticky {
  position: fixed;
  /* background-color: white; */
  z-index: 999;
  top: 0;
  left: 0;
}
.socials{
  padding: 10px;
  display: flex;
  gap: 5px;
}

.page-head{
  height: 30vh;
  background-color: blanchedalmond;
}
.page-heading{
  text-transform: uppercase;
  font-weight: 800;
}
.page-link{
  font-weight: 600;
}